@model Learning5.Models.PaySlabs.StaturaryDetailsEmployee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/datatables.net-dt/css/datatables.datatables.min.css" rel="stylesheet" />
<style>
    .dt-paging-button:hover {
        border: solid teal 2px;
    }
</style>
<div class="container">
    <div class="card bg-black p-5 rounded-2">
        <h2 class="text-center">Add Employee Staturary Details</h2>
        <div class="row my-3">
        </div>
        <div class="row">
            <span class="text-danger">@ViewBag.Message</span>

            <form asp-action="AddEmployeeStaturaryDetails" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4 my-2 ">
                        <label for="UserName">Employee</label>
                        <select Asp-for="UserName" class="form-control" asp-items="ViewBag.Employees">
                            <option value="">-- Select Employee --</option>
                        </select>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label asp-for="PANNumber"></label>
                        <input asp-for="PANNumber" class="form-control" />
                        <span asp-validation-for="PANNumber" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4 my-2">
                        <label asp-for="AadharNumber"></label>
                        <input asp-for="AadharNumber" type="number" class="form-control" />
                        <span asp-validation-for="AadharNumber" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label asp-for="PFNumber"></label>
                        <input asp-for="PFNumber" type="number" class="form-control" />
                        <span asp-validation-for="PFNumber" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label asp-for="ESINumber"></label>
                        <input asp-for="ESINumber" type="number" class="form-control" />
                        <span asp-validation-for="ESINumber" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 my-2">
                        <label asp-for="UANNumber"></label>
                        <input asp-for="UANNumber" type="number" class="form-control" />
                        <span asp-validation-for="UANNumber" class="text-danger"></span>
                    </div>


                    <div class="col-sm-4 my-2 text-center mt-4">

                        <button id="btnSubmit" type="submit" class="btn btn-primary mt-2">Submit</button>
                    </div>
                </div>
            </form>


        </div>
        <div class="row my-4">
            <table id="tblSalary" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Employee Id</th>
                        <th>PAN Number</th>
                        <th>Aadhaar Number </th>
                        <th>PF Number</th>
                        <th>ESI Number</th>
                        <th>UAN Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-dt/js/datatables.datatables.min.js"></script>

    <script>
        var jq = jQuery.noConflict();
        jq(document).ready(function () {
            jq('#UserName').change(function () {
                var employeeId = jq(this).val();
                if (employeeId) {
                    LoadBankDetails(employeeId);
                } else {
                    jq('#tblSalary tbody').empty();
                }
            });
            function LoadBankDetails(employeeId) {
                jq.ajax({
                    url: '/Payslabs/GetEmpStaturaryDetails',
                    type: 'GET',
                    data: { employeeId: employeeId },
                    success: function (data) {

                        f ($.fn.DataTable.isDataTable('#tblSalary')) {
                            $('#tblSalary').DataTable().clear().destroy();
                        }

                        console.log('Data:', data);
                        if(data.length > 0){
                            document.getElementById('btnSubmit').disabled = true;
                        }

                        var table = $('#tblSalary').DataTable({
                            data: data,
                            columns: [
                                { data: '', render: function(data, type, row, meta){return meta.row + 1;}},
                                { data: 'userName', title: 'Employee ID' },
                                { data: 'panNumber', title: 'panNumber' },
                                { data: 'aadharNumber', title: 'aadhaarNumber' },
                                { data: 'pfNumber' },
                                { data: 'esiNumber'},
                                { data: 'uanNumber' },
                                {
                                    data: null,
                                    title: 'Actions',
                                    render: function (data, type, row) {
                                        return `<button class="btn btn-success px-4 py-1"
                                                onclick="return ApproveTimesheet('${row.userName}')">Edit</button>`;
                                    }
                                }
                            ],
                            paging: true,
                            searching: true,
                            ordering: true,
                            info: true
                        });

                    },
                    error: function (xhr) {
                        console.error('Error fetching leave balances:', xhr);
                    }
                });
            }


        });

        // function ApproveTimesheet(timesheetId,hours) {
        //     document.getElementById('workingHours').innerText = hours;
        //     document.getElementById('hdTimehsheetId').value = timesheetId;
        //     var myModal = new bootstrap.Modal(document.getElementById('timesheetModal'));
        //     myModal.show();


        // }

        // function ApprovingDay(){
        //     var timesheetId = document.getElementById('hdTimehsheetId').value;
        //      jq.ajax({
        //             url: '/Account/ApproveTimesheet',
        //             type: 'POST',
        //             data: { timesheetId: timesheetId },
        //             success: function (response) {

        //                 var myModal = new bootstrap.Modal(document.getElementById('timesheetModal'));

        //                 myModal.hide();
        //                 location.reload();
        //             },
        //             error: function (xhr) {
        //                 console.error('Error approving timesheet:', xhr);
        //                 alert('Failed to approve timesheet. Please try again.');
        //             }
        //      });
        // }
    </script>

</div>
