@{
    ViewData["Title"] = "Home Page";
}
<style>

    bodyimg {
        background-image: url('~/wwwroot/uploads/BgHome.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
</style>
<div class="bodyimg text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
